<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs') %>
     
<body class="body-login">
    <%- include('partials/header.ejs') %>
 <form class="formulario" method="POST" action="/register" enctype="multipart/form-data">
    
    <h1 class="h1-login">Registrate</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input class="input-register" type="text" placeholder="Nombre" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
    </div>
        <% if (locals.errors && errors.nombre) { %>
            <div class="text-danger">
                <%= errors.nombre.msg %>
            </div>
            <% } %>

    <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input class="input-register" type="text" placeholder="Apellido" name="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
    </div>
    <% if (locals.errors && errors.apellido) { %>
        <div class="text-danger">
            <%= errors.apellido.msg %>
        </div>
        <% } %>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input class="input-register" type="text" placeholder="Correo Electronico" name="email" value="<%= locals.oldData ? oldData.email : null %>">
         </div>
         <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
            <% } %>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input class="input-register" type="password" placeholder="Contraseña" name="password">
         </div>
         <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
            <% } %>

         <div class="input-contenedor">
            <i class="fa-solid fa-image icon"></i>
             <input class="input-register" type="file" placeholder="imagen" name="avatar" value="<%= locals.oldData ? oldData.avatar : null %>">
         </div>

         <% if (locals.errors && errors.avatar) { %>
            <div class="text-danger">
                <%= errors.avatar.msg %>
            </div>
            <% } %>

         <input type="submit" value="Registrate" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta?<a class="link" href="login">Iniciar Sesion</a></p>
     </div>
    </form>
    <%- include('partials/footer.ejs') %>

    <%- include('partials/lowerFooter.ejs') %>
</body>
</html>