<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <%- include('partials/lowerNavBar.ejs') %>

                <%- include('partials/banner.ejs') %>

                    <main>
                        <div id="libroBuscado">
                            

                                <% if (books.length > 0 && books[0].title) { %>
                                    
                                    
                                      <a href="/products/details/<%=books[0].id %>"> <%= books[0].title %><br></a>  
                                           
                                    
                                    <% } else { %>

                                        <p style="color:red;">Oops, Libro no encontrado</p>

                                                    <% } %>
                                    
                             
                        </div>
                    </main>

                    <%- include('partials/footer.ejs') %>

                        <%- include('partials/lowerFooter.ejs') %>

    </body>

</html>