<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
<body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/lowerNavBar.ejs') %>

  <main class="main">

      <article>
        <div class="h4yxContenedor">
          <h3>Carrito de compras</h3>
          <i class="fa-solid fa-x"></i>
        </div>
      </article>
      <article>
          <div class="prodYSubContenedor">
              <p class="prod p">PRODUCTO</p>
              <p class="sub p">SUBTOTAL</p>
          </div>
      </article>
      <article>
        <p class="textocarritocompras p">El carrito de compras esta vacio</p>
      </article>
      <div class="botoncentrado"><button type="submit" class="boton"><h4 class="textboton">INICIAR COMPRA</h4></button></div>
      <a href="/"><p class="vermas p">VER PRODUCTOS</p></a>

      <%- include('partials/footer.ejs') %>
      <%- include('partials/lowerFooter.ejs') %>

  </main>
</body>
</html>