<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

            <%- include('partials/lowerNavBar.ejs') %>
    <main class="main">
        <div class="h4yxContenedor">
          <h3>Carrito de compras</h3>
          <i class="fa-solid fa-x"></i>
        </div>
      
          <div class="prodYSubContenedor">
              <p class="prod p">PRODUCTO</p>
              <p class="sub p">SUBTOTAL</p>
          </div>
      
          <article class="productos">
            <div class="imgYDescripContenedor">
              <div class="imagen">
                  <img src="<%=buy.img %>">
              </div>
              <div class="descripcionYPrecio">
                  <p class="descripcion p"><%= buy.titleEsp%></p>
                  <p class="precio p">$<%= buy.price%></p>
              </div>
            </div>
            <i class="fa-solid fa-trash"></i>
          </article>
          <article>
          </article>
          <article>
            <div class="totalprecio">
                <h3>Total:</h3>
                <h3>$<%= buy.price%></h3>
            </div>
            <div class="botoncentrado"><button type="submit" class="boton"><h4 class="textboton">INICIAR COMPRA</h4></button></div>
            <a href="/"><p class="vermas" p>VER MAS PRODUCTOS</p></a>
        </article>
    </main>
    <%- include('partials/footer.ejs') %>

    <%- include('partials/lowerFooter.ejs') %>
</body>
</html>