<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
</head>

<body>

    <% for (let i=0; i < books.length; i++) { %>

        <%= books[i].id %>
        <%= books[i].title %>
        <%= books[i].title %>
        <%= books[i].author_id %>
        <%= books[i].category_id %>
        <%= books[i].description %>
        <%= books[i].stock %>
        <%= books[i].price %>
        <%= books[i].authors.name %>
       <img src="<%= books[i].img %>"> 
        <%= books[i].categories.category %>
            <% } %>


            
</body>

</html>